{%- set private_ip = hostvars[inventory_hostname]['ansible_vlan43']['ipv4']['address'] -%}
{%- set master_ip = hostvars[groups['master'][0]]['ansible_vlan43']['ipv4']['address'] -%}
[Unit]
Description=OVN Northbound OVS Database
After=network.target
Requires=ovs-db.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/usr/share/openvswitch/scripts/ovn-ctl stop_nb_ovsdb
ExecStart=/usr/share/openvswitch/scripts/ovn-ctl \
  --db-nb-cluster-local-addr={{ private_ip }} \
  {% if master_ip != private_ip -%}
  --db-nb-cluster-remote-addr={{ master_ip }} \
  {% endif -%}
  start_nb_ovsdb

[Install]
WantedBy=multi-user.target
